iframe {
    width: 100%;
    height: 80vh;
}

.rareOnePage {
    height: 80vh;
}

.projectview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container__video {
    align-self: center;
}